In [3]:
import warnings
import pandas as pd
import numpy as np

In [4]:
df_TD = pd.read_csv("Teradata-employee_UTF8.csv")
df_TD.head()

,First Name,Last Name,Manager ID,Job Title,Birth Year,Status,Hire Date,Employee ID,Email,Termination Date,...,Performance Perspective - Connections,Performance Perspective - Capability,Overall Rating,Ethnicity,Location Name,QLID,Virtual,Worker Type,Worker Sub Type,Personal Email Address
0,Bill,Larson,1.010003e+10,Product Support Engineer V,1960.0,ACTIVE,1986/05/12,10100000369,Bill.Larson@Teradata.com,NaN,...,Achieved Expectations,Achieved Expectations,Achieved Expectations,White,"LEXINGTON, SOUTH CAROLINA",BL132174,N,Employee,Regular,NaN
1,Doug,Brown,3.030011e+10,Engineering Fellow (I),1959.0,ACTIVE,1992/12/28,10100000421,Doug.Brown@Teradata.com,NaN,...,Exceeded Expectations,Exceeded Expectations,Exceeded Expectations,White,SAN DIEGO-BLDG A-17095 VDC,DB120604,N,Employee,Regular,doug.brown@teradata.com
2,Wanda,Yao,1.010003e+10,Test Engineer,1954.0,ACTIVE,1995/02/13,10100000598,Wanda.Yao@Teradata.com,NaN,...,Achieved Expectations,Achieved Expectations,Achieved Expectations,Asian,EL SEGUNDO - NASH,WY122602,N,Employee,Regular,NaN
3,Hon,Lau,3.030013e+10,"Sr Director, Software Engineering",1955.0,ACTIVE,1992/12/28,10100000647,Hon.Lau@Teradata.com,NaN,...,Improvement Needed to Meet Expectations,Achieved Expectations,Improvement Needed to Meet Expectations,Asian,EL SEGUNDO - NASH,HL121045,N,Employee,Regular,NaN
4,Robert,Joe,1.010000e+10,Product Support Engineer IV,1963.0,ACTIVE,2004/08/30,10100000702,Robert.Joe@Teradata.com,NaN,...,Exceeded Expectations,Exceeded Expectations,Exceeded Expectations,Asian,SAN DIEGO-BLDG A-17095 VDC,RJ185009,N,Employee,Regular,Robert.Joe@outlook.com

In [6]:
df_TD.Email.value_counts()

Noemail@teradata.com              18
juxu@microstrategy.com             2
Zsolt.Mautner3@Teradata.com        2
Raja.Zafar@Teradata.com            1
Fahad.Shakeel@Teradata.com         1
                                  ..
Kelly.Zhang@Teradata.com           1
erik.canfield@teradata.com         1
Nuria.Alonso@Teradata.com          1
Rogerio.Fernandes@Teradata.com     1
Nobuyuki.Yasuumi@Teradata.com      1
Name: Email, Length: 9568, dtype: int64

In [1]:
0.95**8

0.6634204312890623

In [2]:
0.05**2

0.0025000000000000005

In [3]:
45*0.6634204312890623*0.0025000000000000005

0.07463479852001952

In [4]:
(0.95**9)*0.05*10

0.31512470486230454

In [5]:
0.95**10

0.5987369392383787

In [21]:
0.85**7

0.3205770882812499

In [13]:
0.6**8

0.016796159999999994

In [18]:
0.153**4

0.000547981281

In [19]:
0.847**6

0.36923296009284884

In [20]:
0.000547981281*0.36923296009284884*210

0.04248987759641124

In [22]:
import cx_Oracle
import configparser

def Call_SQLQuery(Proc_name,Project_name,Task_Name):
    try:
        conf = configparser.ConfigParser()
        conf.read('E:\\InformaticaTempFiles\\app_integration\\Config_Param\\config.ini')
        print(conf.sections())
        connection = cx_Oracle.connect(conf['Credentials']['Username'],conf['Credentials']['Password'],conf['Credentials']['Server'])
        cursor = connection.cursor()
        cursor.execute('truncate table simplifycss_abl_ext_softwareinstance')
        cursor.close()
        connection.close()
    except Exception as error:
        sys.exit('Exception occured:\n'+str(error))

ModuleNotFoundError: No module named 'cx_Oracle'

In [25]:
(0.5**63)*173688356931669753989875128564649440*(0.5**58)

0.06533429836057053

In [1]:
import numpy as np

In [2]:
td = np.array([1,2,3,])

In [3]:
td.size

3

In [8]:
type(td)

numpy.ndarray

In [9]:
td[0]

1

In [12]:
td.max()

3

In [14]:
td[::-1]

array([3, 2, 1])

In [16]:
td_2d = np.array([[1,2,3,4,5],[6,7,8,9,10]])

In [17]:
type(td_2d)

numpy.ndarray

In [18]:
td_2d.size

10

In [25]:
td.ndim

1

In [30]:
td_2d[:,:3]

array([[1, 2, 3],
       [6, 7, 8]])

In [36]:
td_2d[:,0:1]

array([[1],
       [6]])

In [38]:
np_a = np.array([[11, 12, 13, 14],
 [21, 22, 23, 24],
 [31, 32, 33, 34]])

In [39]:
np_a

array([[11, 12, 13, 14],
       [21, 22, 23, 24],
       [31, 32, 33, 34]])

In [40]:
np_a[:,0]

array([11, 21, 31])

In [41]:
np_a[0,:]

array([11, 12, 13, 14])

In [46]:
np_a[:,-1]

array([14, 24, 34])

In [48]:
print(np_a[-1,:])

[31 32 33 34]

In [61]:
n=4
t4 = np.ones((4,4),dtype='int64')

In [62]:
t4

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [65]:
t4[1:n-1,1:n-1]=0

In [66]:
t4

array([[1, 1, 1, 1],
       [1, 0, 0, 1],
       [1, 0, 0, 1],
       [1, 1, 1, 1]])

In [67]:
a = np.array([[4, 3, 1], [5, 7, 0], [9, 9, 3], [8, 2, 4]])

In [68]:
import sys
lines = sys.stdin.readlines()

In [80]:
y=np.empty(5,dtype="int64")

In [85]:
x = np.arange(1,6,dtype="int64")
print(x)

[1 2 3 4 5]

In [82]:
np.multiply(x,10,out=y)

array([10, 20, 30, 40, 50])

In [88]:
np.add.accumulate(x)
n = 4

In [89]:
x= np.array([[0, 1], [1, 0]])

In [90]:
check = np.tile(x,(n//2,n//2))

In [91]:
check

array([[0, 1, 0, 1],
       [1, 0, 1, 0],
       [0, 1, 0, 1],
       [1, 0, 1, 0]])

In [95]:
aar1 = np.arange(5)
aar2 = np.arange(5,10)

In [100]:
np.hstack((aar1,aar2))

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [101]:
np.vstack((aar1,aar2))

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [102]:
np.unravel_index(99,(11,12))

(8, 3)

In [103]:
t1 = np.array([[[7, 13, 14], [18, 10, 17], [11, 12, 19]], [16, 6, 1], [[5, 8, 4, 3]]])

In [137]:
input_list = [[[7, 13, 14], [18, 10, 17], [11, 12, 19]], [16, 6, 1], [[5, 8, 4, 3]]]

In [138]:
list_3 = input_list[2]
list_1 = input_list[0]
list_2 = input_list[1]

In [139]:
np_1 = np.array(list_1)
print(np_1)

[[ 7 13 14]
 [18 10 17]
 [11 12 19]]

In [140]:
np_2 = np.array(list_2)
print(np_2)

[16  6  1]

In [141]:
np_3 = np.transpose(np.array(list_3))

In [142]:
np_4 = np.vstack((np_1,np_2))

In [143]:
np_4

array([[ 7, 13, 14],
       [18, 10, 17],
       [11, 12, 19],
       [16,  6,  1]])

In [144]:
final_array = np.hstack((np_4,np_3))
print(final_array)

[[ 7 13 14  5]
 [18 10 17  8]
 [11 12 19  4]
 [16  6  1  3]]

In [147]:
import matplotlib.pyplot as plt
import pandas as pd

n = 4

data = np.array(list(map(lambda x:x**2,range(1,n+1))))

In [148]:
data

array([ 1,  4,  9, 16])

In [149]:
l = [x for x in range(1,n+1)]

In [150]:
ser = pd.Series(data, index=l)
ser

1     1
2     4
3     9
4    16
dtype: int64

In [152]:
def my_func(*args):
    return(sum(args))
 print(my_func(1,2,3,5))
print(my_func(6,7,8))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [154]:
t = "aba cnc dnd "
print(t.())

Aba cnc dnd

In [157]:
m=myNum = int(input())

for i in range(1,myNum+1):
    for j in range(myNum-i):
        print(" ",end="")
    for k in range(i-1):
        print("*_",end="")
    print("*")

5
    *
   *_*
  *_*_*
 *_*_*_*
*_*_*_*_*

In [160]:
m=myNum = int(input())
for i in range(1,myNum+1):
    for j in range(myNum-i):
        print(" ",end="")
    for k in range(i-1):
        print("*_",end="")
    print("*")

5
    *
   *_*
  *_*_*
 *_*_*_*
*_*_*_*_*

In [161]:
n = int(input())
l_1 =[]
for i in range(n,0,-1):
    #print("")
    testStr = ""
    for j in range(n,i-1,-1):
        testStr =testStr + str(chr(j+96))+"-"
    l_1.append(testStr)

for i in range(1,n):
    for j in range(n-i+1,n+1):
        l_1[i] = l_1[i]+str(chr(j+96))+"-"


for t in range(n-2,-1,-1):
    l_1.append(l_1[t])

maxdashLength = (4*(n-1))+1
for n in l_1:
    len_of_dash = int((maxdashLength - len(n[0:-1]))/2)
    for i in range(0,len_of_dash):
        print("-",end="")
    print(n[0:-1],end="")
    for i in range(0,len_of_dash):
        print("-",end="")
    print("")

5
--------e--------
------e-d-e------
----e-d-c-d-e----
--e-d-c-b-c-d-e--
e-d-c-b-a-b-c-d-e
--e-d-c-b-c-d-e--
----e-d-c-d-e----
------e-d-e------
--------e--------

In [167]:
nterms = int(input())
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print(n1)
else:
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

5
0
1
1
2
3

In [165]:
n=5
l_1 =[]
for i in range(n,0,-1):
    #print("")
    testStr = ""
    for j in range(n,i-1,-1):
        testStr =testStr + str(chr(j+96))+"-"
    l_1.append(testStr)
print(l_1)

['e-', 'e-d-', 'e-d-c-', 'e-d-c-b-', 'e-d-c-b-a-']

In [166]:
nterms = int(input())
n1,n2=0,1
count=0

if nterms<=0:
    print('')
elif nterms == 1:
    print(n1)
else:
    while count<nterms:
        print(n1)
        nth = n1+n2
        n1=n2
        n2=nth
        count+=1

5
0
1
1
2
3

In [168]:
n=int(input())#find the sum of primes from 2 to n 

def isPrime(n) : 
  
    # Corner cases 
    if (n <= 1) : 
        return False
    if (n <= 3) : 
        return True
  
    # This is checked so that we can skip  
    # middle five numbers in below loop 
    if (n % 2 == 0 or n % 3 == 0) : 
        return False
  
    i = 5
    while(i * i <= n) : 
        if (n % i == 0 or n % (i + 2) == 0) : 
            return False
        i = i + 6
  
    return True

sum = 0
for i in range(2,n+1):
    if(isPrime(i)):
        sum+=i

print(sum)

4
5

In [173]:
import numpy as np
as1 = np.array([1,2,3,4,5,6,7,8,9]).reshape(3,3)

In [176]:
for i in as1.tolist():
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [178]:
#input n taken here
#n=int(input())

#we will make a list of lists with just [1] in it. We will run a for loop from i= 2 to n and in each iteration
#we will add [i]*(2i-3) in top of the list and and in bottom
#then add i on both sides of all sub_lists 
def printPattern(n): 
  
    arraySize = n * 2 - 1; 
    print(arraySize)
    result = [[0 for x in range(arraySize)]  
                 for y in range(arraySize)]; 
    print(result)
          
    # Fill the values 
    for i in range(arraySize): 
        for j in range(arraySize): 
            if(abs(i - (arraySize // 2)) >  
               abs(j - (arraySize // 2))): 
                result[i][j] = abs(i - (arraySize // 2)) + 1; 
            else: 
                result[i][j] = abs(j - (arraySize // 2)) + 1; 
              
    # Print the array 
    for i in range(arraySize): 
        for j in range(arraySize): 
            print(result[i][j], end = ""); 
        print(""); 
  
# Driver Code 
n = int(input()); 
  
printPattern(n);

4
7
[[0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0]]
4444444
4333334
4322234
4321234
4322234
4333334
4444444

In [179]:
s = "Naresh"
print(s[::-1])

hseraN

In [183]:
n=3
#start writing your code form here
answer=0

for i in range(1,n+1):

    num=''
    for j in range(i):
        num=num+str(n)
    num=int(num)
    print(num)
    answer=answer+num

print(answer)

3
33
333
369

In [ ]:
#take input
inp=input()

stack=[]
for i in inp:
    if(len(stack)==0):
        stack.append(i)
    else:
        if i==')' and stack[-1]=='(':
            stack.pop()
        elif i==']' and stack[-1]=='[':
            stack.pop()
        elif i=='}' and stack[-1]=='{':
            stack.pop()
        else:
            stack.append(i)
if stack:
    print('No')
else:
    print('Yes')

In [5]:
from functools import reduce
l = [1,2,3,4,5,6,7,8,9]

sum_val = reduce(lambda x,y:x+y,l)
t= sum_val/len(l)

for i in l:
    if i>t:
        print(i)

6
7
8
9

In [51]:
import numpy as np
import pandas as pd
n=5
np_t = np.zeros((n,n), dtype="int64")

In [52]:
print(np_t)

[[0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]

In [53]:

for i in range(0,5):
    np_t[i,i]=1
    np_t[n-1-i,i]=1
    



print(np_t)

[[1 0 0 0 1]
 [0 1 0 1 0]
 [0 0 1 0 0]
 [0 1 0 1 0]
 [1 0 0 0 1]]

In [54]:
t1= np_t.tolist()

In [55]:
for i in t1:
    print(i)

[1, 0, 0, 0, 1]
[0, 1, 0, 1, 0]
[0, 0, 1, 0, 0]
[0, 1, 0, 1, 0]
[1, 0, 0, 0, 1]

In [23]:
np_t[0:0,0:0]=1

In [26]:
np_t[0,0]=1

In [27]:
np_t

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 0]])

In [2]:
#function to sort the list based on insertion sort.
#for insertion sort, we will take the first value in the list as sorted and rest as unsorted
#then will compare each of the values in sequence

def insertionSort(list_a):
    #taking out the first value and using the rest for checking the sort.
    indexing_length = range(1,len(list_a))
    for i in indexing_length:
        value_to_sort = list_a[i]
        
        while list_a[i-1]>value_to_sort and i>0:
            list_a[i],list_a[i-1]=list_a[i-1],list_a[i]
            i = i-1
            
    return list_a

print(insertionSort([4,3,6,2,7,0]))

[0, 2, 3, 4, 6, 7]

In [19]:
l = [1,1,2,3,4,6]

def checkIncreasingList(l):
    for i in range(0,len(l)):
       
        if(i<len(l)-1 and l[i]>=l[i+1]):
            return 'No'
    return 'Yes'

checkIncreasingList(l)

'No'

In [24]:
t = 1234567
i = str(t)
f = 0
for a in range(0,len(str(t))):
    f+=int(i[a])
if f%2==0:
    print('even')
else:
    print('o')

28

In [26]:
#Need to install requests package for python
#easy_install requests
import requests

# Set the request parameters
url = 'https://teradatacsstage.service-now.com/api/now/attachment/4a9bab69db671c102c3c6f8bd39619c6/file'

# Eg. User name="admin", Password="admin" for this code sample.
user = 'svc_informatica_AI'
pwd = 'Test321'

# Set proper headers
headers = {"Content-Type":"application/json","Accept":"*/*"}

# Do the HTTP request
response = requests.get(url, auth=(user, pwd), headers=headers, verify=False )

# Check for HTTP codes other than 200
if response.status_code != 200: 
    print('Status:', response.status_code, 'Headers:', response.headers, 'Error Response:',response.json())
    exit()

# Decode the JSON response into a dictionary and use the data
data = response.json()
print(data)

/Users/na250047/opt/anaconda3/lib/python3.7/site-packages/urllib3/connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'teradatacsstage.service-now.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [12]:
import zipfile
import os, re, os.path
from os import listdir
from os.path import isfile, join, basename
import glob
import pathlib
from datetime import datetime
filePath = "/Users/na250047/Development/test/"
extension = "*.zip"
fulPath = filePath+extension
FileRetainFlag='N'
file_list = glob.glob(fulPath)
for file in file_list:
    with zipfile.ZipFile(file,"r") as zip_ref:
        zip_ref.extractall(filePath)
        if(FileRetainFlag=='N'):
            zip_ref.close()
            os.remove(file)

In [22]:
import zipfile
import os, re, os.path
from os import listdir
from os.path import isfile, join, basename
import glob
import pathlib
from datetime import datetime
filePath = "/Users/na250047/Development/test/"
extension = "*.zip"
fulPath = filePath+extension
FileRetainFlag='N'
file_list = glob.glob(fulPath)
for file in file_list:
    f_name_ext = file.replace(filePath,"")
    filename, file_extension = os.path.splitext(f_name_ext)
    with zipfile.ZipFile(file,"r") as zip_ref:
        zip_ref.extractall(filePath)
        for file_alerts in glob.glob(filePath+"alerts_send.xml"):
            print('file_alerts:'+file_alerts)
            os.rename(file_alerts,filePath+"alerts_send_"+filename+".xml")
        if(FileRetainFlag=='Y'):
            zip_ref.close()
            os.remove(file)

file_alerts:/Users/na250047/Development/test/alerts_send.xml
file_alerts:/Users/na250047/Development/test/alerts_send.xml

In [21]:
import zipfile
import os, re, os.path
from os import listdir
from os.path import isfile, join, basename
import glob
import pathlib
from datetime import datetime

file_list = [f for f in os.listdir('/Users/na250047/Development/test') if os.path.isfile(f)]
for f in file_list:
    print(f)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/na250047/Development/test/*'