In [1]:
import os
import sys
os.environ["PYSPARK_PYTHON"] = "/opt/cloudera/parcels/Anaconda/bin/python"
os.environ["JAVA_HOME"] = "/usr/java/jdk1.8.0_161/jre"
os.environ["SPARK_HOME"] = "/opt/cloudera/parcels/SPARK2-2.3.0.cloudera2-1.cdh5.13.3.p0.316101/lib/spark2/"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.6-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

In [2]:
import pyspark
from pyspark.sql import SparkSession
#config = pyspark.SparkConf().setAll([("spark.kryoserializer.buffer.max.mb","512")])
spark = SparkSession.builder.appName('online_demo').master("local").config("spark.kryoserializer.buffer.max.mb", "1g").getOrCreate()

sc = spark.sparkContext

In [3]:
#lines = sc.textFile("online_atm_transaction/part-m-00000")#sc.textFile("hdfs:/online_atm_transaction/part-m-00000")

In [4]:
#sc.textFile("online_atm_transaction/part-m-00000",3).saveAsTextFile("online_atm_transaction/part-split")

In [5]:
#lines.getNumPartitions()
#lines.collect()

<h1>Create Data Frame<h1>

In [6]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, BooleanType, DoubleType, LongType


fileSchema = StructType([StructField('year', IntegerType(),False),
                        StructField('month', StringType(),False),
                        StructField('day', IntegerType(),False),
                        StructField('weekday', StringType(),False),
                        StructField('hour', IntegerType(),False),
                        StructField('atm_status', StringType(),False),
                        StructField('atm_id', IntegerType(),False),
                        StructField('atm_manufacturer', StringType(),False),
                        StructField('location', StringType(),False),
                        StructField('streetname', StringType(),False),
                        StructField('street_number', IntegerType(),False),
                        StructField('zipcode', IntegerType(),False),
                        StructField('lat', DoubleType(),False),
                        StructField('lon', DoubleType(),False),
                        StructField('currency', StringType(),False),
                        StructField('card_type', StringType(),True),
                        StructField('transaction_amount', IntegerType(),False),
                        StructField('service', StringType(),False),
                        StructField('message_code', IntegerType(),True),
                        StructField('message_text', StringType(),True),
                        StructField('weather_lat', DoubleType(),False),
                        StructField('weather_lon', DoubleType(),False),
                        StructField('weather_city_id', IntegerType(),False),
                        StructField('weather_city_name', StringType(),False),
                        StructField('temp', DoubleType(),False),
                        StructField('pressure', IntegerType(),False),
                        StructField('humidity', IntegerType(),False),
                        StructField('wind_speed', IntegerType(),False),
                        StructField('wind_deg', IntegerType(),False),
                        StructField('rain_3h', DoubleType(),True),
                        StructField('clouds_all', IntegerType(),False),
                        StructField('weather_id', IntegerType(),False),
                        StructField('weather_main', StringType(),False),
                        StructField('weather_description', StringType(),False)])

In [7]:
#df = spark.read.load("online_atm_transaction/part-m-00000", format="csv", sep=",", inferSchema="true", header="false")

df = spark.read.load("online_atm_transaction/part-m-00000", format="csv", sep=",", schema=fileSchema, header="false")

In [8]:
#df.printSchema()

In [9]:
df.show(5)

+----+-------+---+-------+----+----------+------+----------------+----------+-------------------+-------------+-------+------+------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|  location|         streetname|street_number|zipcode|   lat|   lon|currency| card_type|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|  temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main| weather_description|
+----+-------+---+-------+----+----------+------+----------------+----------+-------------------+-------------+-------+------+------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|2017|January|  1| Sunday|   0|    Active|     1|             NCR|NÃƒÂ¦stved|        Farimagsvej|            8|   4700|55.233|11.763|     DKK|MasterCard|              5643|Withdrawal|        null|        null|      55.23|     11.761|        2616038|         Naestved|281.15|    1014|      87|         7|     260|  0.215|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|  Vejgaard|         Hadsundvej|           20|   9000|57.043|  9.95|     DKK|MasterCard|              1764|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|  Vejgaard|         Hadsundvej|           20|   9000|57.043|  9.95|     DKK|      VISA|              1891|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     3|             NCR|     Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|           12|   7430|56.139| 9.154|     DKK|      VISA|              4166|Withdrawal|        null|        null|     56.139|      9.158|        2619426|            Ikast|281.15|    1011|     100|         6|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|     4|             NCR|Svogerslev|       BrÃƒÂ¸nsager|            1|   4000|55.634|12.018|     DKK|MasterCard|              5153|Withdrawal|        null|        null|     55.642|      12.08|        2614481|         Roskilde|280.61|    1014|      87|         7|     260|    0.0|        88|       701|        Mist|                mist|
+----+-------+---+-------+----+----------+------+----------------+----------+-------------------+-------------+-------+------+------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
only showing top 5 rows

In [10]:
#print(df.count())

<h1>Dimension Card Type<h1>

In [11]:
df_DIM_CARD_TYPE = df.select('card_type').distinct()

In [12]:
#print(df_DIM_CARD_TYPE.count())

In [13]:
#print(df_DIM_CARD_TYPE.show())
# df_DIM_CARD_TYPE -> card type dimenion

In [14]:
df_DIM_CARD_TYPE_Id = df_DIM_CARD_TYPE.withColumn("card_type_id", df_DIM_CARD_TYPE['card_type'])

In [15]:
#df_DIM_CARD_TYPE_Id.show()

<h1>Dimension Type Location</h1>

In [16]:
DIM_Location_Type_cols = ['location','streetname','street_number','zipcode','lat','lon']

df_DIM_Location_Type = df.select(*DIM_Location_Type_cols).distinct()

In [17]:
df_DIM_Location_Type.show()

+--------------------+--------------------+-------------+-------+------+------+
|            location|          streetname|street_number|zipcode|   lat|   lon|
+--------------------+--------------------+-------------+-------+------+------+
|NykÃƒÂ¸bing Mors ...|         Kirketorvet|            1|   7900|56.795|  8.86|
|                Nibe|              Torvet|            1|   9240|56.983| 9.639|
|           Skipperen|         Vestre Alle|            2|   9000|57.034| 9.908|
|              Viborg|           Toldboden|            3|   8800|56.448| 9.401|
|               Vadum|      Ellehammersvej|           43|   9430|57.118| 9.861|
|        KÃƒÂ¸benhavn|      Regnbuepladsen|            5|   1550|55.676|12.571|
|         Skive Lobby|            Adelgade|            8|   7800|56.567| 9.027|
|         HÃƒÂ¸jbjerg|      Rosenvangsalle|          194|   8270|56.119|10.192|
|          NÃƒÂ¦stved|        Farimagsgade|            8|   4700| 55.69|12.575|
|             SÃƒÂ¦by|          Vestergade|            3|   9300|57.334|10.515|
|            Roskilde|    KÃƒÂ¸benhavnsvej|           65|   4000|55.642|12.106|
|           Hirtshals|JÃƒÂ¸rgen Fibiger...|            4|   9850|57.591| 9.957|
|             Vodskov|          Vodskovvej|           27|   9310|57.104|10.027|
|       Frederikshavn|        Danmarksgade|           48|   9900|57.441|10.537|
|Intern  ÃƒËœsterÃƒÂ¥|        ÃƒËœsterÃƒÂ¥|           12|   9000|57.049| 9.922|
|              Vestre|           Kastetvej|           36|   9000|57.053| 9.905|
|         SÃƒÂ¦by Syd|Trafikcenter SÃƒÂ...|            1|   9300|57.313| 10.45|
|   Intern  Hjallerup|   Hjallerup Centret|           18|   9320|57.168|10.148|
|Intern  Frederiks...|        Danmarksgade|           48|   9900|57.441|10.537|
|         Bispensgade|         Bispensgade|           35|   9800|57.453| 9.996|
+--------------------+--------------------+-------------+-------+------+------+
only showing top 20 rows

In [18]:
#count of dim_location_type 
#print(df_DIM_Location_Type.count())

In [19]:
#df_DIM_Location_Type.select(df_DIM_Location_Type['location'],df_DIM_Location_Type['streetname']).show()

In [20]:
from pyspark.sql import functions as sf
df_DIM_Location_Type_Id = df_DIM_Location_Type.withColumn("location_id", 
                                                          sf.concat(df_DIM_Location_Type['location'],sf.lit('_'), df_DIM_Location_Type['streetname'],sf.lit('_'),df_DIM_Location_Type['street_number']))

In [21]:
#df_DIM_Location_Type_Id.show()

In [22]:
#df_DIM_Location_Type_Id.toPandas().to_csv('df_DIM_Location_Type_Id.csv', encoding='utf-8')

<h1>Dimension ATM</h1>

In [23]:
DIM_ATM_cols = ['atm_id','atm_manufacturer','location','streetname','street_number']

df_DIM_ATM = df.select(*DIM_ATM_cols).distinct()

In [24]:
#df_DIM_ATM.show()

In [25]:
#df_DIM_ATM.toPandas().to_csv('df_DIM_ATM.csv', encoding='utf-8')

In [26]:
df_DIM_ATM_atm_location_id = df_DIM_ATM.withColumn("atm_location_id", 
                                                          sf.concat(df_DIM_ATM['location'],sf.lit('_'), df_DIM_ATM['streetname'],sf.lit('_'),df_DIM_ATM['street_number']))

In [27]:
df_DIM_ATM_atm_id = df_DIM_ATM_atm_location_id.withColumn('atm_number',df_DIM_ATM_atm_location_id['atm_id'])

In [28]:
DIM_ATM_atm_final_cols = ['atm_id','atm_number','atm_manufacturer','atm_location_id']
df_DIM_ATM_atm_final = df_DIM_ATM_atm_id.select(*DIM_ATM_atm_final_cols)

In [29]:
#df_DIM_ATM_atm_final.show()

<h1>Dimension Date</h1>

In [30]:
df_DIM_DATE_Temp1_Cols = ['year','month','day','hour','weekday'] 
df_DIM_DATE_Temp1 = df.select(*df_DIM_DATE_Temp1_Cols).distinct()

In [31]:
#df_DIM_DATE_Temp1.show()

In [32]:
from pyspark.sql.functions import col

df_DIM_DATE_Temp2 = df_DIM_DATE_Temp1.withColumn('fullDT', sf.concat(df_DIM_DATE_Temp1['month'],sf.lit(' '), df_DIM_DATE_Temp1['day'],sf.lit(' '),df_DIM_DATE_Temp1['year'],
                                                                    sf.lit(' '),df_DIM_DATE_Temp1['hour']))

In [33]:
#df_DIM_DATE_Temp2.show()

In [34]:
from pyspark.sql.functions import *
df_DIM_DATE_Temp3 = df_DIM_DATE_Temp2.withColumn("full_date_time", from_unixtime(unix_timestamp(df_DIM_DATE_Temp2.fullDT,
                                                                                       'MMMMM dd yyy HH')))

In [35]:
#df_DIM_DATE_Temp3.show()

In [36]:
df_DIM_DATE_Final = df_DIM_DATE_Temp3.withColumn('date_id', sf.concat(df_DIM_DATE_Temp3['year'],sf.lit('_'),
                                                                      df_DIM_DATE_Temp3['month'],sf.lit('_'),
                                                                      df_DIM_DATE_Temp3['day'],
                                                                    sf.lit('_'),df_DIM_DATE_Temp3['hour']))

In [37]:
df_DIM_DATE_Final_Cols = ['year','month','day','hour','weekday','full_date_time','date_id'] 
df_DIM_DATE_Final_F = df_DIM_DATE_Final.select(*df_DIM_DATE_Final_Cols)

In [38]:
df_DIM_DATE_Final_F.show()

+----+--------+---+----+--------+-------------------+-------------------+
|year|   month|day|hour| weekday|     full_date_time|            date_id|
+----+--------+---+----+--------+-------------------+-------------------+
|2017| January|  1|   9|  Sunday|2017-01-01 09:00:00|   2017_January_1_9|
|2017| January|  3|   5| Tuesday|2017-01-03 05:00:00|   2017_January_3_5|
|2017| January|  8|  19|  Sunday|2017-01-08 19:00:00|  2017_January_8_19|
|2017| January| 21|   3|Saturday|2017-01-21 03:00:00|  2017_January_21_3|
|2017| January| 23|  21|  Monday|2017-01-23 21:00:00| 2017_January_23_21|
|2017|February|  2|  19|Thursday|2017-02-02 19:00:00| 2017_February_2_19|
|2017|February|  5|  16|  Sunday|2017-02-05 16:00:00| 2017_February_5_16|
|2017|February| 21|  15| Tuesday|2017-02-21 15:00:00|2017_February_21_15|
|2017|   March|  2|   8|Thursday|2017-03-02 08:00:00|     2017_March_2_8|
|2017|   April|  2|   2|  Sunday|2017-04-02 02:00:00|     2017_April_2_2|
|2017|   April|  6|   8|Thursday|2017-04-06 08:00:00|     2017_April_6_8|
|2017|   April| 30|  10|  Sunday|2017-04-30 10:00:00|   2017_April_30_10|
|2017|     May|  2|   2| Tuesday|2017-05-02 02:00:00|       2017_May_2_2|
|2017|     May| 20|  16|Saturday|2017-05-20 16:00:00|     2017_May_20_16|
|2017|     May| 21|  19|  Sunday|2017-05-21 19:00:00|     2017_May_21_19|
|2017|    June| 27|   0| Tuesday|2017-06-27 00:00:00|     2017_June_27_0|
|2017|    July| 18|   9| Tuesday|2017-07-18 09:00:00|     2017_July_18_9|
|2017|    July| 18|  22| Tuesday|2017-07-18 22:00:00|    2017_July_18_22|
|2017|    July| 20|   0|Thursday|2017-07-20 00:00:00|     2017_July_20_0|
|2017|    July| 21|  19|  Friday|2017-07-21 19:00:00|    2017_July_21_19|
+----+--------+---+----+--------+-------------------+-------------------+
only showing top 20 rows

<h1>FACT_ATM_TRANS</h1>

In [39]:
FACT_ATM_TRANS_cols = ['atm_status','currency','service','transaction_amount','message_code','message_text',
                      'rain_3h','clouds_all','weather_id','weather_main','weather_description',
                      'year','month','day','hour',
                      'atm_id',
                      'location','streetname','street_number',
                      'card_type']
df_FACT_ATM_TRANS_temp1 = df.select(*FACT_ATM_TRANS_cols)

In [40]:
df_FACT_ATM_TRANS_temp1.show(5)

+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+--------------------+----+-------+---+----+------+----------+-------------------+-------------+----------+
|atm_status|currency|   service|transaction_amount|message_code|message_text|rain_3h|clouds_all|weather_id|weather_main| weather_description|year|  month|day|hour|atm_id|  location|         streetname|street_number| card_type|
+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+--------------------+----+-------+---+----+------+----------+-------------------+-------------+----------+
|    Active|     DKK|Withdrawal|              5643|        null|        null|  0.215|        92|       500|        Rain|          light rain|2017|January|  1|   0|     1|NÃƒÂ¦stved|        Farimagsvej|            8|MasterCard|
|  Inactive|     DKK|Withdrawal|              1764|        null|        null|   0.59|        92|       500|        Rain|          light rain|2017|January|  1|   0|     2|  Vejgaard|         Hadsundvej|           20|MasterCard|
|  Inactive|     DKK|Withdrawal|              1891|        null|        null|   0.59|        92|       500|        Rain|          light rain|2017|January|  1|   0|     2|  Vejgaard|         Hadsundvej|           20|      VISA|
|  Inactive|     DKK|Withdrawal|              4166|        null|        null|    0.0|        75|       300|     Drizzle|light intensity d...|2017|January|  1|   0|     3|     Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|           12|      VISA|
|    Active|     DKK|Withdrawal|              5153|        null|        null|    0.0|        88|       701|        Mist|                mist|2017|January|  1|   0|     4|Svogerslev|       BrÃƒÂ¸nsager|            1|MasterCard|
+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+--------------------+----+-------+---+----+------+----------+-------------------+-------------+----------+
only showing top 5 rows

In [41]:
df_FACT_ATM_TRANS_temp2 = df_FACT_ATM_TRANS_temp1.withColumn('date_id', sf.concat(df_FACT_ATM_TRANS_temp1['year'],sf.lit('_'),
                                                                      df_FACT_ATM_TRANS_temp1['month'],sf.lit('_'),
                                                                      df_FACT_ATM_TRANS_temp1['day'],
                                                                    sf.lit('_'),df_FACT_ATM_TRANS_temp1['hour']))

In [42]:
df_FACT_ATM_TRANS_temp3 = df_FACT_ATM_TRANS_temp2.withColumn("weather_loc_id", 
                                                          sf.concat(df_FACT_ATM_TRANS_temp2['location'],
                                                                    sf.lit('_'), 
                                                                    df_FACT_ATM_TRANS_temp2['streetname'],
                                                                    sf.lit('_'),
                                                                    df_FACT_ATM_TRANS_temp2['street_number']))

In [43]:
df_FACT_ATM_TRANS_temp4 = df_FACT_ATM_TRANS_temp3.withColumn("card_type_id", df_FACT_ATM_TRANS_temp3['card_type'])

In [44]:
df_FACT_ATM_TRANS_temp5 = df_FACT_ATM_TRANS_temp4.withColumn("trans_id",
                                                            sf.concat(df_FACT_ATM_TRANS_temp4['atm_id'],
                                                                    sf.lit('_'), 
                                                                    df_FACT_ATM_TRANS_temp4['weather_loc_id'],
                                                                    sf.lit('_'),
                                                                    df_FACT_ATM_TRANS_temp4['date_id'],
                                                                    sf.lit('_'),
                                                                    df_FACT_ATM_TRANS_temp4['currency'],
                                                                    sf.lit('_'),
                                                                    df_FACT_ATM_TRANS_temp4['transaction_amount']
                                                                     ))

In [45]:
FACT_ATM_TRANS_cols_final = ['trans_id','atm_id','weather_loc_id','date_id','card_type_id',
                             'atm_status','currency','service','transaction_amount','message_code','message_text',
                      'rain_3h','clouds_all','weather_id','weather_main','weather_description']
df_FACT_ATM_TRANS_Final = df_FACT_ATM_TRANS_temp5.select(*FACT_ATM_TRANS_cols_final)

<h1>Load data in S3 bucket</h1>

In [46]:
sc._jsc.hadoopConfiguration().set("fs.s3.awsAccessKeyId", "AKIAUZP2SCQJEQPXHC6H")

In [47]:
sc._jsc.hadoopConfiguration().set("fs.s3.awsSecretAccessKey", "RDUKt9APtdWyB2qG7xn9OIbhiuifKKsqBkF2Kvjk")

In [49]:
df_DIM_CARD_TYPE_Id.count()

12

In [50]:
df_FACT_ATM_TRANS_Final.coalesce(1).write.option("header","true").format("csv").save("s3a://online-atm-trans-naresh/tables/FACT_ATM_TRANS",mode="overwrite")

df_DIM_ATM_atm_final.coalesce(1).write.option("header","true").format("csv").save("s3a://online-atm-trans-naresh/tables/DIM_ATM",mode="overwrite")

df_DIM_DATE_Final.coalesce(1).write.option("header","true").format("csv").save("s3a://online-atm-trans-naresh/tables/DIM_DATE",mode="overwrite")

df_DIM_Location_Type_Id.coalesce(1).write.option("header","true").format("csv").save("s3a://online-atm-trans-naresh/tables/DIM_LOCATION",mode="overwrite")

df_DIM_CARD_TYPE_Id.coalesce(1).write.option("header","true").format("csv").save("s3a://online-atm-trans-naresh/tables/DIM_CARD_TYPE",mode="overwrite")